/* Button.module.css */
.button {
  background-color: #121212; /* Black background variant */
  color: #34CD41; /* Qtify Green text variant */
  border-radius: 12px; /* Border radius */
  cursor: pointer; /* Hover cursor variant pointer */
  font-family: "Poppins", sans-serif; /* Poppins Font Family setup */
}