.navbar {
  display: flex;
  align-items: center; /* Vertically centers the logo & elements */
  justify-content: space-between;
  padding: 0px 32px; /* Gives the logo breathing room to its left */
  background-color: var(--color-primary); /* Typically #121212 */
  height: 74px;
}